* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to right, #792ff0, #de5adb);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
}

.container {
    background: rgb(247, 244, 244);
    padding: 25px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(12, 12, 12, 0.989);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

input:focus {
    border-color: #4facfe;
}

.error {
    color: red;
    font-size: 13px;
}

.success {
    color: green;
    text-align: center;
    margin-top: 10px;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background: #4facfe;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #00c6ff;
}

/* Mobile Responsive */
@media (max-width: 500px) {
    .container {
        padding: 20px;
    }
}
.password-box {
    position: relative;
}

.password-box input {
    width: 100%;
    padding-right: 40px;
}

.toggle {
    position: absolute;
    right: 10px;
    top: 8px;
    cursor: pointer;
    font-size: 18px;
}